@font-face {
    font-family: 'ds-digit';
    src: url('../../../../public/assets/fonts/DS-DIGI.TTF');
}

  :root {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'system-ui';
    --radius: 25px;
    --key-color: #7f8db5;
    --h-wlk: 750px;
    --h-sup: 50px;
    --h-scr: 250px;
    --h-spk: 300px;
    --h-bot: calc(var(--h-wlk) - var(--h-sup) - var(--h-scr) - var(--h-spk));
    --color1: #111;
    --color2: #222;
  }

  * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }



  #walkie div.container {
    width: 350px;
    height: 700px;
    border-radius: var(--radius);
    border: 5px solid black;
    background: linear-gradient(45deg, #111, #222);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: -3px 3px 10px #eee3 inset;
    /* filter: drop-shadow(0 0 15px var(--key-color)); */
    border-radius: var(--radius);
    z-index: 10;
  }

  /* AJUSTES GENERALES */

  #walkie .key_text {
    text-align: center;
    font-weight: 600;
    font-size: .8em;
    color: #eee9;
  }

  #walkie .btn_up,
  #walkie .btn_down,
  #walkie .tecla {
    box-shadow: -2px 2px 5px #ccc5 inset;
    background: linear-gradient(45deg, #000D, #222);
  }

  #walkie .btn_menu:hover,
  #walkie .btn_up:hover,
  #walkie .btn_down:hover,
  #walkie .tecla:hover {
    transition: filter .5s;
    filter: drop-shadow(0 0 5px #eee8);
  }

  #walkie .clicked {
    transition: .2s;
    transform: scale(.9);
  }

#walkie  .pwr_on {
    transition: .3s;
    filter: drop-shadow(0 -2px 10px yellow);
  }

  /* ZONA SUPERIOR  */
  #walkie .superior {
    width: 300px;
    height: var(--h-sup);

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
  }

  #walkie .antena {
    background: radial-gradient(farthest-corner at 50px 10px,
    #666 0%,
    #222 40%,
    #111 50%,
    black 60%);
    width: 70px;
    height: 200px;
    border: inherit
  }

  #walkie .led_on {
    width: 20px;
    height: 5px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    background: red;
  }

  #walkie .rueda {
    width: 80px;
    height: 50px;
    background: radial-gradient(farthest-corner at 60px 10px,
    #666 0%,
    #222 20%,
    #111 50%,
    black 60%);
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;

  }


  /* FIN ZONA SUPERIOR  */



  /* ZONA DE LA PANTALLA */

  #walkie .container .pantalla {
    margin-top: 0;
    width: 100%;
    height: var(--h-scr);
    display: grid;
    place-items: center;
  }

  #walkie .pantalla .borde_screen {
    display: grid;
    place-items: center;
    width: 90%;
    height: 95%;
    border: 5px solid black;
    border-radius: var(--radius);
  }

  #walkie div.screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: var(--h-scr);
    background: #b2d8e8;
    /* filter:drop-shadow(0 0 5px var(--key-color));
    box-shadow: 0px 0px 10px black inset; */
  }

  /* FORMULARIO */

  #walkie form {
    padding: 5px;
    font-family: 'ds-digit';
    font-size: .8em;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    /* transform: scale(75%); */
  }

  #walkie form label {
    width: 100%;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  #walkie form label input {
    height: 20px;
    font-family: 'ds-digit';
    border: 0;
    outline: 0;
    padding:5px;
    border-radius: 15px;
    box-shadow: 0 0px 5px #1115 inset;
    text-align: center;
  }

  #walkie form input[type="submit"] {
    font-family: 'ds-digit';
    border: none;
    outline: none;
    width: 100px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #999;
    box-shadow: 0 0 5px black inset;
    color: white;
    cursor:pointer;
    transition: box-shadow .5s, filter .5s, background-color .5s;
  }

  #walkie form input[type="submit"]:hover {
    transition: box-shadow .5s, filter .5s, background-color .5s;
    background-color: #111;
    box-shadow: 0 0 5px black inset;
    color: var(--key-color);
    filter: drop-shadow(0 0 5px var(--key-color));
  }


#walkie input[type="email"]::placeholder,
#walkie input[type="password"]::placeholder {
    color:rgba(0,0,0,.5);
}

#walkie input[type="email"],
#walkie input[type="password"] {
    width:100%;
}

#walkie input[type="text"]:focus::placeholder,
#walkie input[type="password"]:focus::placeholder{
    transition: transform .5s;
    transform: translateY(-25px);
  }

  /* FIN ZONA DE LA PANTALLA */



  /* ZONA DEL ALTAVOZ */

  #walkie .container .altavoz {
    position: relative;
    width: 100%;
    height: var(--h-spk);
    display: grid;
    grid-template-columns: 20% 80%;
  }

  #walkie .altavoz .speaker {
    position: relative;
    top: 50px;
    left: 40px;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* .altavoz .speaker img {
    width: 230px;
    border-radius: 50%;
  } */


  #walkie .altavoz .speaker {
      border-radius: 50%;
      box-shadow: 2px -2px 5px #eee5, -2px 2px 18px #111;
      border: 10px solid #222;
      background: linear-gradient(45deg, var(--color1), var(--color1) 45%,var(--color2) 55%, var(--color2));
      background-size: 5px 5px;
  }

   #walkie .altavoz .btn_spk {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 10% 75% 15%;
    align-items: center;
    justify-content: center;
  }

  #walkie .btn_spk_inf {
    width: 100%;
    height: 70%;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly
  }


  #walkie .btn_menu {
    position: absolute;
    width: 50px;
    height: 30px;
    background: linear-gradient(45deg, #9b1010, #c22d2d);
  }
  #walkie  .btn_up,
  #walkie  .btn_down {
    display: grid;
    place-items: center;
    width: 30px;
    height: 50px;
    background: linear-gradient(45deg, #111, #222);
  }

  #walkie .btn_menu,
  #walkie .btn_up,
  #walkie .btn_down {
    border-radius: 5px;
    box-shadow: -2px 2px 5px #ccc5 inset;
  }


  #walkie .btn_up_in {
    width: 0;
    height: 0;
    border-top: 0px solid var(--key-color);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid var(--key-color);
  }


  #walkie .btn_down_in {
    width: 0;
    height: 0;
    border-top: 10px solid var(--key-color);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 0px solid lightblue;
  }


  #walkie .btn_exit .tecla {
    width: 50px;
    height: 30px;
    background: linear-gradient(45deg, rgb(3, 3, 77),rgb(5, 5, 136));
  }

  .btn_exit .tecla span {
    font-size: .9em;
  }

  /* FIN ZONA DEL ALTAVOZ */


  /* ZONA DEL TECLADO INFERIOR */

  #walkie .container .botonera {
    position: relative;
    width: 90%;
    height: var(--h-bot);
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;

    place-items: center;
  }

  #walkie .tecla {
    cursor:pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;

    width: 60px;
    height: 40px;
  }

  #walkie .tecla .key_text {
    font-size: 1.4em;
  }
  #walkie .tecla small {
    max-width: 6ch;
    font-size: .6em;
    color: #eee;
  }


  /* FIN ZONA DEL TECLADO INFERIOR */

