@import "@fortawesome/fontawesome-free/css/all.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
      font-family: Ethnocentric;
      font-weight: 400;
      src: url(/fonts/Ethnocentric.woff) format("woff");
    }
  }

:root {
    --altura: 150px;
    --mid-altura: calc(var(--altura)/2);
    --color-bg: #4f89f5;
    --color-primary : #F54F89;
    --color-accent: #89F54F;
    --color-text: #FFFFFF;
    --color-bg-200: #4280eb;
    --color-bg-300: #005dc2;
    --color-bg-500: #29009b;
    --color-bg-700: #180058;
    --color-bg-900: #0e0033;
    --color-primary-300: #ffedff;
    --color-accent-200: #009000;
    --color-text-200: #e0e0e0;


    margin: 0;
    padding: 0;

    font-family: 'system-ui';

    box-sizing: border-box;
    color: var(--color-text);
    background: var(--color-bg);
    font-family: "system-ui";
    max-width: 100vw;
    width: 100%;
    min-height: 100vh;

}


body {
    max-width: 100vw;
    width: 100%;
    min-height: 100vh;
}
