@layer base {
    @font-face {
        font-family: Ethnocentric;
        font-weight: 400;
        src: url(/fonts/Ethnocentric.woff) format("woff");
    }
}

:root {
    margin:0;
    padding: 0;
    font-family: 'system-ui';
}

body {
    display: grid;
    place-content: center;
}


div.container {
    height: 400px;
    width: 800px;
    background: #111;
}
